/* .messenger{
    display:'flex';
    width:'100%';
    justify-content: space-between;
} */

.chatMenu{
    flex: 3.5;
    background-color: rgb(4, 4, 37);
}

.chatMenuInput{
    color: white;
    width:100%;
    font-weight: bold;
    font-size:0.8cm;
    background-color: rgb(4, 4, 37);
    padding: 15px 0;
    text-align: center;
    /* border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.chatBox{
    flex: 5.5;
    background-color: white;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
.chatBoxBottom{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width:80% ;
    height: 100%;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color:rgb(108, 165, 215);

}

.chatOnline{
    flex: 3;
    background-color:white;
}
.chatBoxWrapper,.chatOnlineWrapper{
  padding: 10px;
  background-color:rgb(255, 255, 255);
  height: 100%;
}
.chatMenuWrapper{
    padding-bottom: 20px;
    background-color:rgb(4, 4, 37);;
    height: 100%;
}
.noChat{
    position: absolute;
    top:30%;
    font-size: 30px;
    cursor: default;
}
/* 
*/